In [1]:
import pandas as pd
df = pd.read_csv('adult.csv')
df

,age,workclass,education,marital-status,occupation,race,gender,hours-per-week,income
0,20-30,Private,11th,Never-married,Machine-op-inspct,Black,Male,20-40,<=50K
1,30-40,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,40-60,<=50K
2,20-30,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,20-40,>50K
3,40-50,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,20-40,>50K
4,30-40,Private,10th,Never-married,Other-service,White,Male,20-40,<=50K
...,...,...,...,...,...,...,...,...,...
46028,20-30,Private,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,20-40,<=50K
46029,30-40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,20-40,>50K
46030,50-60,Private,HS-grad,Widowed,Adm-clerical,White,Female,20-40,<=50K
46031,20-30,Private,HS-grad,Never-married,Adm-clerical,White,Male,0-20,<=50K
46032,50-60,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,20-40,>50K

In [2]:
df = df.astype(str) # 確保所有型態都為string,避免到時候有型態轉換的問題
data = df.values.tolist()

In [42]:
from apyori import apriori

#建立rule, 設定參數
#變成list
rules = list(apriori(data, min_support= 0.2, min_confidence= 0.9))
rules

[RelationRecord(items=frozenset({'20-30', '<=50K'}), support=0.22837964069254665, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-30'}), items_add=frozenset({'<=50K'}), confidence=0.9152084965613302, lift=1.2172370842277807)]),
 RelationRecord(items=frozenset({'White', '40-60'}), support=0.2469098255599244, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60'}), items_add=frozenset({'White'}), confidence=0.9163911956784649, lift=1.0694715523442546)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K'}), support=0.3074533486846393, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9514621848739496, lift=1.2654548772443017)]),
 RelationRecord(items=frozenset({'White', '>50K'}), support=0.22520800295440227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'>50K'}), items_add=frozenset({'White'}), confidence=0.90763438977412, lift=1.0592519486987138)]),
 RelationRecord(items=frozenset({'Female', '20-40', '<=50K'}), support=0.20383203354115526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Female', '20-40'}), items_add=frozenset({'<=50K'}), confidence=0.9016046891515327, lift=1.1991438749447432)]),
 RelationRecord(items=frozenset({'20-40', 'Never-married', '<=50K'}), support=0.20350618034888016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-40', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9688695832040543, lift=1.2886069031126588)]),
 RelationRecord(items=frozenset({'White', '40-60', 'Male'}), support=0.20394065127191363, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60', 'Male'}), items_add=frozenset({'White'}), confidence=0.9274846868207864, lift=1.0824181773760588)]),
 RelationRecord(items=frozenset({'Female', 'Private', '<=50K'}), support=0.22818412877718158, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Female', 'Private'}), items_add=frozenset({'<=50K'}), confidence=0.9055953099405122, lift=1.2044514432547917)]),
 RelationRecord(items=frozenset({'Private', 'Never-married', '<=50K'}), support=0.2553602850129255, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Private', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9601404884423753, lift=1.2769971137634817)]),
 RelationRecord(items=frozenset({'White', 'Never-married', '<=50K'}), support=0.25177589989789934, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9478246647039581, lift=1.2606169365322384)]),
 RelationRecord(items=frozenset({'White', 'Married-civ-spouse', 'Male'}), support=0.376794908000782, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Married-civ-spouse', 'Male'}), items_add=frozenset({'White'}), confidence=0.9041859980190793, lift=1.0552275136094786), OrderedStatistic(items_base=frozenset({'White', 'Married-civ-spouse'}), items_add=frozenset({'Male'}), confidence=0.9020229861147225, lift=1.334538282439385)]),
 RelationRecord(items=frozenset({'White', 'Married-civ-spouse', '<=50K', 'Male'}), support=0.20372341581039688, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', 'Married-civ-spouse', '<=50K'}), items_add=frozenset({'Male'}), confidence=0.9067001836991202, lift=1.341458171762602)]),
 RelationRecord(items=frozenset({'Private', 'Never-married', '<=50K', 'White'}), support=0.2107618447635392, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Private', 'Never-married', 'White'}), items_add=frozenset({'<=50K'}), confidence=0.9573712255772647, lift=1.2733139645487916)]),
 RelationRecord(items=frozenset({'Private', 'Married-civ-spouse', 'Male', 'White'}), support=0.2525362240132079, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Private', 'Married-civ-spouse', 'Male'}), items_add=frozenset({'White'}), confidence=0.902702282963193, lift=1.053495948474918)])]

In [43]:
# 查看細部結構
print(rules[0], "\n")
rule_len = len(rules[0]) # 得知rule結構
for i in range(rule_len):
    print(rules[0][i])

RelationRecord(items=frozenset({'20-30', '<=50K'}), support=0.22837964069254665, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-30'}), items_add=frozenset({'<=50K'}), confidence=0.9152084965613302, lift=1.2172370842277807)])

frozenset({'20-30', '<=50K'})
0.22837964069254665
[OrderedStatistic(items_base=frozenset({'20-30'}), items_add=frozenset({'<=50K'}), confidence=0.9152084965613302, lift=1.2172370842277807)]

In [44]:
result = pd.DataFrame()

for item in rules:
    series = pd.Series({"Rule":item[0],"Support":item[1],"Confidence":item[2][0][2]})
    result = result.append(series, ignore_index=True)

In [49]:
result.sort_values(by= ['Confidence'], ascending=False)

    Confidence                                        Rule   Support
5     0.968870               (20-40, Never-married, <=50K)  0.203506
8     0.960140             (Private, Never-married, <=50K)  0.255360
12    0.957371      (Private, Never-married, <=50K, White)  0.210762
2     0.951462                      (Never-married, <=50K)  0.307453
9     0.947825               (White, Never-married, <=50K)  0.251776
6     0.927485                        (White, 40-60, Male)  0.203941
1     0.916391                              (White, 40-60)  0.246910
0     0.915208                              (20-30, <=50K)  0.228380
3     0.907634                               (White, >50K)  0.225208
11    0.906700    (White, Married-civ-spouse, <=50K, Male)  0.203723
7     0.905595                    (Female, Private, <=50K)  0.228184
10    0.904186           (White, Married-civ-spouse, Male)  0.376795
13    0.902702  (Private, Married-civ-spouse, Male, White)  0.252536
4     0.901605                      (Female, 20-40, <=50K)  0.203832

In [57]:
# for (f)小題
result = result.sort_values(by= ['Confidence'], ascending=False)
result = result.iloc[0:5,:]
result

    Confidence                                    Rule   Support
5     0.968870           (20-40, Never-married, <=50K)  0.203506
8     0.960140         (Private, Never-married, <=50K)  0.255360
12    0.957371  (Private, Never-married, <=50K, White)  0.210762
2     0.951462                  (Never-married, <=50K)  0.307453
9     0.947825           (White, Never-married, <=50K)  0.251776